<!DOCTYPE html>
<html>

<head>

    <title>Admin - Claims</title>

</head>

<body>

<h2>Admin Claim Verification</h2>

{% if claims %}

    {% for claim in claims %}

        <hr>

        <h3>Claim #{{ claim.id }}</h3>

        <p>
            <strong>Claimant:</strong>
            {{ claim.claimant.name }}
        </p>

        <p>
            <strong>Email:</strong>
            {{ claim.claimant.email }}
        </p>

        <p>
            <strong>Found Item:</strong>
            {{ claim.item.title }}
        </p>

        <p>
            <strong>Description:</strong>
            {{ claim.item.description }}
        </p>

        <p>
            <strong>Location:</strong>
            {{ claim.item.location }}
        </p>

        <p>
            <strong>Status:</strong>
            {{ claim.status }}
        </p>

        {% if claim.item.image %}
            {% if claim.item.image.startswith('http://') or claim.item.image.startswith('https://') %}
                <img
                    src="{{ claim.item.image }}"
                    alt="Found Item"
                    class="claim-image"
                >
            {% else %}
                <img
                    src="{{ url_for('static', filename='uploads/' + claim.item.image) }}"
                    alt="Found Item"
                    class="claim-image"
                >
            {% endif %}
        {% endif %}

        {% if claim.status == 'Pending' %}

            <br><br>

           <form
                method="POST"
                action="{{ url_for('approve_claim', claim_id=claim.id) }}"
            >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <button type="submit">
                    Approve
                </button>
            </form>

            <form
                method="POST"
                action="{{ url_for('reject_claim', claim_id=claim.id) }}"
            >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <button type="submit">
                    Reject
                </button>
            </form>

        {% endif %}

    {% endfor %}

{% else %}

    <p>No claims submitted yet.</p>

{% endif %}

<br>

<a href="/dashboard">Back to Dashboard</a>

</body>

</html>